{% extends 'base.html' %}


{% block titulo_head%} 
<title> Cambiar Contraseña</title>
{% endblock titulo_head %}

{% block h1_header  %} 
<h1> Cambiar Contraseña</h1>
{% endblock h1_header  %}

{% block contenido %} 

{% if form.errors  %}

<p style="color:red"> Error en Modificacion de Datos</p>
   
{% endif %}

<form action= {% url "usuarios:cambiar_password" %} method="POST">
    {% csrf_token %}
    <table>
     {{form}}
   </table>

   <button> Cambiar Contraseña </button>
</form>
{% endblock contenido %}