{% extends 'base.html' %}


{% block titulo_head%} 
<title> Editar Perfil</title>
{% endblock titulo_head %}

{% block h1_header  %} 
<h1> Editar Perfil</h1>
{% endblock h1_header  %}

{% block contenido %} 

{% if formulario.errors  %}

<p style="color:red"> Formulario erroneo</p>
   
{% endif %}

<form action= {% url 'usuarios:editar_perfil' %} method="post", enctype="multipart/form-data">
    {% csrf_token %}
    <table>
     {{formulario}}
   </table>

<button> Editar </button>
</form>
{% endblock contenido %}