{% extends 'base.html' %}


{% block titulo_head%} 
<title> Editar Perfil</title>
{% endblock titulo_head %}

{% block h1_header  %} 
<h1> Editar Perfil</h1>
{% endblock h1_header  %}

{% block contenido %} 

{% if formulario.errors  %}

<p style="color:red"> Formulario erroneo</p>
   
{% endif %}

<form action= "" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
     {{formulario}}
    </table>
   <button type='button'><a class="navbar-brand" href={% url 'usuarios:cambiar_password' %}>Cambiar Contraseña</a></button>
   <button>Guardar cambios</button>
</form>
{% endblock contenido %}